.todo-wrapper {
  width: 600px;
  height: 50px;
  border: 1px solid #b2b8b4;
  margin: 0 auto;
  overflow: hidden;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.todo-element-height {
  height: 50px;
}
.todo-p {
  border: 0px;
  font-size: 24px;
  outline: none;
  margin: 0;
  padding: 8px;
  font-family: 'Pacifico', cursive;
  color: #b2b8b4;
}
.todo-button {
  background: white;
  border: 0px;
}
.todo-button:active,
.todo-button:focus {
  transform: translateY(2px);
  outline: none;
}

.todo-button-image {
  color: #b2b8b4;
  height: 35px;
  padding-top: 4px;
  width: 35px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

.full-width {
  width: 100%;
}
